body{
  background: #000;
}

.grid{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

img{
  width: 100%;
}


header{
  width: 900px;
  margin: 15px auto;
}
section.grid{
  width: 900px;
  margin: auto;

}